name: CI

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * 3'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        # This is last node with original zlib.
        # It's required to test deflate binary equality.
        node-version: [ '12.16' ]

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - run: npm install

    - run: npm test
